/* selettore generale  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* classe clearfix per il float */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* contenitore generale  */
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
}

/* parte superiore */
header {
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    ;

}

/* titolo dell'header */
header .title {
    font-weight: bold;
    font-size: 3rem;
    color: rgb(229, 49, 112);
}

/* barra navigazione */
nav {
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: 45px;

}

/* paragrafo */
.paragrafo {
    color: black;
    font-size: 1rem;
}

/* riga carta */
.row_cards {
    width: 100%;
    background-color: white;
    padding-left: 25px;
    margin-top: 50px;





}

/* tutti gli elementi con valore (card-) */
[class*="card-"] {
    width: 360px;
    background-color: black;
    display: inline-block;
    margin-inline: 12px;
    box-shadow: 5px 5px 5px 5px #dedede;

}

/* tutti le immagini con valore (card-) */
[class*="card-"] img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;

}

/* seleziona ogni ul nella classe con valore (card-) */
[class*="card-"] ul {
    list-style: none;
    color: white;
    line-height: 1.8rem;

}

/* seleziona ultimo figlio elemento li */
li:last-child {
    color: #00aeff;
}

/* primo figlio li nell'elenco */
ul li:first-child {
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 0.4rem;

}